<a href="https://colab.research.google.com/github/bitprj/BitUniversity/blob/master/Digital_History/Week3-Introduction-to-Open-Data-Importing-Data-and-Basic-Data-Wrangling/Homework/Week3-Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <div align = "center">Homework 2</div>
# <div align = "center">US Census Data</div>

**Welcome to Homework 2!** In this homework you will be using techniques you learned in Working with Data using Pandas. The purpose of this homework is for you to try data manipulation with ```Pandas``` and to express your observations. 

Feel free to refer back to week 4 tutorial notebook and ask questions on Piazza!

### Grading

There are a total of ten questions and each question is worth 1 point.

In order to work on the Homework sections and submit them for grading, you'll need to run the code block below. It will ask for your student ID number and then create a folder that will house your answers for each question. At the very end of the notebook, there is a code section that will download this folder as a zip file to your computer. This zip file will be your final submission.

In [ ]:
import os
import shutil

!rm -rf sample_data

student_id = input('Please Enter your Student ID: ') # Enter Student ID.

while len(student_id) != 9:
 student_id = int('Please Enter your Student ID: ')  
  
folder_location = f'{student_id}/Week_Four/Homework'
if not os.path.exists(folder_location):
  os.makedirs(folder_location)
  print('Successfully Created Directory, Lets get started')
else:
  print('Directory Already Exists')

### Import Library

In [1]:
import pandas as pd

### Load dataset

In [2]:
url = 'https://raw.githubusercontent.com/bitprj/BitUniversity/master/Digital_History/Week3-Introduction-to-Open-Data-Importing-Data-and-Basic-Data-Wrangling/data/acs2017_county_data.csv'
df = pd.read_csv(url)
df

      CountyId        State  ... FamilyWork  Unemployment
0         1001      Alabama  ...        0.1           5.2
1         1003      Alabama  ...        0.1           5.5
2         1005      Alabama  ...        0.3          12.4
3         1007      Alabama  ...        0.3           8.2
4         1009      Alabama  ...        0.1           4.9
...        ...          ...  ...        ...           ...
3215     72145  Puerto Rico  ...        0.2          16.8
3216     72147  Puerto Rico  ...        0.0          12.8
3217     72149  Puerto Rico  ...        0.2          24.8
3218     72151  Puerto Rico  ...        0.0          25.4
3219     72153  Puerto Rico  ...        0.0          24.0

[3220 rows x 37 columns]

## Homework Questions

**Since this dataset has lots of information, feel free to select a set of columns to answer each question.**

In [ ]:
df.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

### Q1. List out all column names of ```df```. (1 pt)

#### Code:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT CODE BELOW

### Q2. Set ```CountyId``` as an index for ```df```. (1 pt)

Hint: Use ```set_index```.

#### Answer:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/2.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT CODE BELOW

### Q3 (a) Find the rows where ```Unemployment``` is greater than 10. (0.5 pt)

Hint: Use ```df.loc[]```.

#### Code:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/3.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT CODE BELOW

### Q3 (b) How many counties have ```Unemployment``` > 10? Type your answer in the Answer section. (0.5 pt)

Hint: Look at how many rows Q3 (a) displays.

#### Answer:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/3.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW

### Q4. Find the state with most self-employeed population. (1 pt)

Hint: Refer to 9.0 Now Try This in week 4 material.

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### Answer: type your answer in a string form.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/4.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW

### Q5 (a) Select the state with most self-employed population and save the dataframe as ```df_self_emp```. (0.5 pt)

Hint: Use ```df.loc[]``` and select the rows where ```State``` is the one you found in Q4.

#### Code:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/5.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT CODE BELOW

### Q5 (b) Find the top 2 most popular means of transportation to work in ```df_self_emp```. (0.5 pt)

Hint: Use the following columns: 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome' and an AGGREGATE function.

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### Answer: type your answer in a string form.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/5.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW

### Q6. What are the top 3 states with highest ```mean commute```? (1 pt)

Hint: This one is similar to Q4.

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### Answer: type your answer in a string form.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/6.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW

### Q7 (a) Select the subset of data where ```State``` is one of the states we found in question 6 and save it as ```top_three```. (.33 point)

Hint: Use ```df['State'].isin()```. You may refer to the practical exercise section in Week 4 material.

#### Code:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/7.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT CODE BELOW

### Q7 (b) How many counties are there in the top three states? (.33 pt)

Hint: Use one of the aggregate functions. (```sum()```, ```mean()```, or ```count()```)

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### Answer: type your answer in a string form.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/7.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW

### Q7 (c) Find the County with the most ```MeanCommute``` time in ```top_three``` (.34 pt).

Hint: Use ```sort_values(by= )```.

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### Answer: type your answer in a string form.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/7.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW

### Q8. Find the top 5 states with highest income level and find out their top professional working field: 'Professional', 'Service', 'Office', 'Construction', or 'Production.' 

Hint: This question is a combination of Q6 and Q7. You may add more blocks to write codes and use the same approach as in Q6 and Q7.

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### What are the top five states with highest income? Type your answer in a string form. (0.5 pts)

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/8.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW.

#### What is the most popular working field in the top five states? Type your answer in a string form. (0.5 pts)

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/8.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW.

### Q9. Find the state with highest male population. (1 pt)

Hint: This is similar to Q4.

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### Answer: type your answer in a string form.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/9.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW

### Q10. Find the state where male population is greater than female population. (1pt)
Hint 1: Find the sum of male and female population at a state level - Use ```groupby``` and save this dataframe as ```total_pop```.

Hint 2: Using ```total_pop.loc[criteria]```, find out the states with a greater male population.

Hint 3: There are 10 states that meet this condition.

#### Code:

In [ ]:
# INSERT CODE BELOW
# This is not part of grading.

#### Answer: type your answer in a string form.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/10.py
# Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT YOUR ANSWER BELOW


## Submission
Run this code block to download your answers.

In [ ]:
from google.colab import files
!zip -r "{student_id}.zip" "{student_id}"
files.download(f"{student_id}.zip")