## <div align = "center">Homework 3</div>
# <div align = "center">US Census Data</div>

**Welcome to Homework 3!** In this homework you will be using techniques you learned in Week 3. The purpose of this homework for you to do data manipulation with ```Pandas``` and to express your observations. 

Feel free to refer back to week 3 tutorial notebook and ask questions on Piazza!

### Grading

There are a total of five questions and each question is worth 3-5 points.

### Import Library

In [1]:
import pandas as pd

### Load dataset

In [28]:
url = 'https://raw.githubusercontent.com/bitprj/DigitalHistory/master/Week3-Introduction-to-Open-Data-Importing-Data-and-Basic-Data-Wrangling/data/acs2017_county_data.csv'
df = pd.read_csv(url)
df

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja Municipio,54754,26269,28485,96.7,3.1,0.1,0.0,...,1.4,0.6,0.9,31.6,14234,76.2,19.3,4.3,0.2,16.8
3216,72147,Puerto Rico,Vieques Municipio,8931,4351,4580,95.7,4.0,0.0,0.0,...,5.0,0.0,1.7,14.9,2927,40.7,40.9,18.4,0.0,12.8
3217,72149,Puerto Rico,Villalba Municipio,23659,11510,12149,99.7,0.2,0.1,0.0,...,2.1,0.0,2.8,28.4,6873,59.2,30.2,10.4,0.2,24.8
3218,72151,Puerto Rico,Yabucoa Municipio,35025,16984,18041,99.9,0.1,0.0,0.0,...,1.4,1.8,0.1,30.5,7878,62.7,30.9,6.3,0.0,25.4
3219,72153,Puerto Rico,Yauco Municipio,37585,18052,19533,99.8,0.2,0.0,0.0,...,1.7,0.1,5.0,24.4,8995,66.4,28.7,5.0,0.0,24.0

## Homework Questions

**Since this dataset has lots of information, feel free to select a set of columns to answer each question.**

In [3]:
df.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

### Q1. List out all column names of ```df```. (1 pt)

#### Code:

### Q2. Set ```CountyId``` as an index for ```df```. (1 pt)

#### Answer:

### Q3 (a) Find the rows where ```Unemployment``` is greater than 10. (2 pts)

#### Code:

### Q3 (b) How many counties have ```Unemployment``` > 10? (1 pt)

#### Code:

#### Answer:

### Q4. Find the state with most self-employeed population. (3 pts)

#### Code:

#### Answer:

### Q5 (a) Select the state with most self-employed population and save the dataframe as ```df_self_emp```. (1 pt)

#### Code:

### Q5 (b) Find out top 2 most popular means of transportation to work in ```df_self_emp```. (2 pt)

#### Code:

#### Answer:

### Q6. What are the top 3 states with highest ```mean commute```? (3 pts)

#### Code:

#### Answer:

### Q7 (a) Select the subset of data where ```State``` is one of the states we found in question 6 and save it as top_three. (2 pts)

#### Code:

### Q7 (b) How many counties are there in the top three states? (1 pt)

(Hint: use one of the aggregate functions or review getting basic info section.)

#### Code:

### Q7 (c) Find the County with the most ```MeanCommute``` time in ```top_three``` (1 pt).

#### Code:

#### Answer:

### Q8. Find the top 5 states with highest income level and find out their top professional working field: 'Professional', 'Service', 'Office', 'Construction', or 'Production.' (5 pts)

(hint: use the same approach as Q6 and Q7.)

#### Code:

#### What are the top five states with highest income?

In [ ]:
# write your answer here.

#### What is the most popular working field in the top five states?

In [ ]:
# write your answer here.

### Q9. Find the state with highest male population. (3 pts)

#### Code:

#### Answer:

### Q10. Select the state where male population is greater than female population. (5 pts)
(Hint 1: Find the sum of male and female population at a state level.)

(Hint 2: There are 10 states that meet this condition.)

#### Code:

#### Answer: