## <div align = "center">Homework 6</div>
# <div align = "center">Flight Delay Data</div>

**Welcome to Homework 6!** In this homework you will be using techniques you learned through Week 6. The purpose of this homework for you to do data manipulation with ```Pandas``` and to express your observations. 

Feel free to refer back to week 6 tutorial notebook and ask questions on Piazza!

### Grading

There are a total of 12 questions and each question is worth 1-5 points.

### Import library

In [1]:
import pandas as pd

### Load file

In [2]:
url = 'https://raw.githubusercontent.com/bitprj/DigitalHistory/master/Week6-Advanced-Data-Wrangling-using-Pandas/data/Jan_2020_ontime.csv'
df = pd.read_csv(url)


url = 'https://raw.githubusercontent.com/bitprj/DigitalHistory/master/Week6-Advanced-Data-Wrangling-using-Pandas/data/airline_names.xlsx'
airline = pd.read_excel(url)

In [3]:
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN

In [4]:
airline.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607346 entries, 0 to 607345
Data columns (total 22 columns):
DAY_OF_MONTH             607346 non-null int64
DAY_OF_WEEK              607346 non-null int64
OP_UNIQUE_CARRIER        607346 non-null object
OP_CARRIER_AIRLINE_ID    607346 non-null int64
OP_CARRIER               607346 non-null object
TAIL_NUM                 606648 non-null object
OP_CARRIER_FL_NUM        607346 non-null int64
ORIGIN_AIRPORT_ID        607346 non-null int64
ORIGIN_AIRPORT_SEQ_ID    607346 non-null int64
ORIGIN                   607346 non-null object
DEST_AIRPORT_ID          607346 non-null int64
DEST_AIRPORT_SEQ_ID      607346 non-null int64
DEST                     607346 non-null object
DEP_TIME                 600682 non-null float64
DEP_DEL15                600647 non-null float64
DEP_TIME_BLK             607346 non-null object
ARR_TIME                 600271 non-null float64
ARR_DEL15                599268 non-null float64
CANCELLED                607346 non-null float64
DIVERTED                 607346 non-null float64
DISTANCE                 607346 non-null float64
Unnamed: 21              0 non-null float64
dtypes: float64(8), int64(8), object(6)
memory usage: 101.9+ MB

## Homework Questions

## Part 1. Merge / Clean dataframe

### Q1. Join ```df``` with ```airline``` and save the dataframe as ```df```. (2 pts)
(You may use ```join``` or ```merge```.)

### Q2. Delete 'Unnamed: 21' column in ```df```. (Please refer back to week 3 material.) (1 pt)

## Part 2. Top 5 airlines

### Q3 (a) What are the five largest airlines by the number of flights in January? (4 pts)

### Q3 (b) Select the five largest airlines in the ```df``` and save the new dataframe as ```top_five```. (2 pts)

### Q4. Calculate cancellation percentages of the top 5 airlines. (3 pts)

### Q5. Calculate diverted flights percentages of the top 5 airlines.

### Q6. Calculate arrival-on-time percentages of the top 5 airlines.

### Q7. Plot a bar chart of the arrival-on-time percentages of the top five airlines.

## Part 3. Arrival airports
#### From this part, use ```df``` as we are dealing with the whole dataset; not limited to the top 5 airlines.

### Q8. What is the number of distinct destination airports?

### Q9. Which arrival airports experience most delays? List out 5 airport codes.

## Part 4. Further Analysis

### Q10. Find out the percentage of flights that managed to arrive within 15 minutes even though the flight departed more than 15 minutes past scheduled departure time 

(Hint: you may use ```DEP_DEL15``` and ```ARR_DEL15``` indicators.)

### Q11. The column ```DEP_TIME``` is in the format of hhmm. Calculate the departure delays of the morning flights (before 12pm) and the departure delays of the afternoon flights (past 12pm). Round your answers to two decimal points.

(Hint: Create ```morning_df``` if ```DEP_TIME``` is in the morning and ```afternoon_df``` if ```DEP_TIME``` is in the afternoon.)

### Q12. Which flights experienced higher departure delays, the morning flights or the afternoon flights? Write down your thoughts on what might have caused higher delays in that time period.

#### Answer: