<a href="https://colab.research.google.com/github/bitprj/BitUniversity/blob/master/Digital_History/Week5-Lab-Visualizing-the-Translatlantic-Slave-Trade/Practicum-Visualize-Trans-Atlantic-Slave-Trade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/ShayanRiyaz/DigitalHistory/blob/Shayan/Week5-Lab-Visualizing-the-Translatlantic-Slave-Trade/assets/icons/bitproject.png?raw=1" width="200" align="left"> 
<img src="https://github.com/ShayanRiyaz/DigitalHistory/blob/Shayan/Week5-Lab-Visualizing-the-Translatlantic-Slave-Trade/assets/icons/data-science.jpg?raw=1" width="300" align="right">

# <div align="center">Visualizing the Trans-Atlantic Slave Trade</div>

# Table of Contents

- Recap
- About the Dataset
    - The Transatlantic Slave Trade
        - Facts about the dataset
- Labs and Methodology
- Goals
- **Part 1 - Getting Our Basic Data Analysis Set-Up**
    - Import Libraries and unpack a file
    - Load file
    - Observing the Dataset using Pandas
    - Important Facts About the Dataset
    - Visualize Year of Arrival vs Number of Slaves arrived
- **Part 2 - Getting Started with Data Wrangling**
    - Create a copy of the Original Dataset
    - Changing Column Names
    - Moving Column Positions - ```df.reindex()```
    - Remove Voyage ID -```df.drop()```
    - Using ```dropna()```
    - Changing Column Type and Sorting - ```df.sort_values()```
    - Finding Unique and similar strings 
    - Working with Strings - ```df['column_name'].str.replace()```
- **Part 3 - Micro Wrangling and Visualization**
    - Between 1500 - 1600
    - Between 1601 - 1700
    - Between 1701 - 1800
    - Between 1801 - 1900
- **Part 4 - Conclusion**
- Resources
- Appendix

# Recap

- By this time, you should have an understanding of how to implement the following:
- Loading a Dataset '.csv' as a dataframe using ```pd.read_csv```
- Observing the properties of the loaded dataset using functions such as:
    - ```pd.head()```
    - ```pd.describe()```
    - ```pd.info()```
- Modifying the dataset by removing ```NaN``` values.
- A conceptual understanding of the term ```object``` in DataFrames. (really what it means is that the value is probably text/string)*
- Re-indexing columns
- Visualizing Data using ```matplotlib``` and ```pandas```:
    - Scatter plots
    - Barplots
    - Line plots
    - Histograms

# About the Dataset

### The Trans-Atlantic Slave Trade
<img src="https://github.com/ShayanRiyaz/DigitalHistory/blob/Shayan/Week5-Lab-Visualizing-the-Translatlantic-Slave-Trade/assets/ship.jpg?raw=1" width="600"> 

It is difficult to believe in the first decades of the twenty-first century that **just over two centuries ago**, for those Europeans who thought about the issue, the shipping of enslaved Africans across the Atlantic was morally indistinguishable from shipping textiles, wheat, or even sugar. 

Our reconstruction of a major part of this migration experience covers an era in which there was a massive technological change (*steamers were among the last slave ships*), as well as very dramatic shifts in perceptions of good and evil. Just as important perhaps were the relations between the Western and non-Western worlds that the trade both reflected and encapsulated. **Slaves constituted the most important reason for contact between Europeans and Africans for nearly two centuries**. 

The shipment of slaves from Africa was related to the demographic disaster consequent to the meeting of Europeans and Amerindians, which greatly reduced the numbers of Amerindian laborers and raised the demand for labor drawn from elsewhere, particularly Africa. As Europeans colonized the Americas, a steady stream of European peoples migrated to the Americas between 1492 and the early nineteenth century. But what is often overlooked is that, before 1820, perhaps three times as many enslaved Africans crossed the Atlantic as Europeans. 

This was the largest transoceanic migration of a people until that day, and it provided the Americas with a crucial labor force for their own economic development. The slave trade is thus a vital part of the history of some millions of Africans and their descendants who helped shape the modern Americas culturally as well as in the material sense.

The details of the more than **36,000** voyages presented here greatly facilitate the study of cultural, demographic, and economic change in the Atlantic world from the late *sixteenth to the mid-nineteenth centuries*. Trends and cycles in the flow of African captives from specific coastal outlets should provide scholars with new, basic information useful in examining the relationships among slavery, warfare in both Africa and Europeâ€”political instability, and climatic and ecological change, among other forces. 

### Facts about the dataset

- The dataset approximately 36,110 trans-Atlantic voyages.
- The estimates suggest around 12,520,000 captives departed Africa to the Americas. 

- Not all 36,000 voyages in the database carried slaves from Africa.
- A total of 633 voyages (1.8%) never reached the African coast because they were lost at sea, captured, or affected by some other misfortune. 
- The database also contains records of 34,106 voyages that disembarked slaves, or could have done so (in other words, for some of these we do not know the outcome of the voyage).

- The latter group comprised mainly of ships captured in the nineteenth century which were taken to Sierra Leone and St. Helena as part of the attempt to suppress the trade. 


This is a very insightful resource titled,'The Atlantic Slave Trade in Two Minutes. You can read it [here](http://www.slate.com/articles/life/the_history_of_american_slavery/2015/06/animated_interactive_of_the_history_of_the_atlantic_slave_trade.html).

# Practicum and Methodology

Congratulations, you have made it to the first practicum of this course. The purpose of these practicums is to help you apply the Data Science pipeline in a project-based environment. You will be using the tools taught to you in the previous modules and adopt and Question and Answer based approach when you work with the dataset.

For this project, we start by asking questions which you will answer in code and simple explanations.

**example** - change the name of 'column_x' to 'column y' </br>
**answer**: ```df = df.rename(columns = {'column_x : 'column_y})```

We have divided our approach into 4 parts:

- The first part is the traditional set up. These are some things we should do before modifying the dataset.
- The second part involves cleaning the dataset and choosing columns that fit our methodology.
- The third part involves further splitting our cleaned dataframe into smaller dataframes and visualizing them.
- Finally, the fourth part involves summarizing our conclusion.


# Grading

This exercise has a total of 27 questions. Every question has 1 point. Some questions might have multiple parts but the weight of the question is the same.

In order to work on the questions in this Practicum and submit them for grading, you'll need to run the code block below. It will ask for your student ID number and then create a folder that will house your answers for each question. At the very end of the notebook, there is a code section that will download this folder as a zip file to your computer. This zip file will be your final submission.

In [ ]:
import os
import shutil

!rm -rf sample_data

student_id = input('Please Enter your Student ID: ') # Enter Student ID.

while len(student_id) != 9:
 student_id = int('Please Enter your Student ID: ')  
  
folder_location = f'{student_id}/Week_Six/Practicum'
if not os.path.exists(folder_location):
  os.makedirs(folder_location)
  print('Successfully Created Directory, Lets get started')
else:
  print('Directory Already Exists')

# Part 1 - Getting Our Basic Data Analysis Set-Up

Import the libraries you will be using for this project. These libraries are the ones we have used in the previous labs.

## Q1 Load libraries and file

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

import _____ as pd # INSERT CODE HERE
import __________ as plt  # INSERT CODE HERE

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


url = 'https://rb.gy/cjfen3'

trans_atlc_trade = __.read_csv(___) # INSERT CODE HERE

### Observing the Dataset using Pandas

Now, the dataset is loaded as a dataframe `trans_atlc_trade`

### ```head()```
Let's check what columns this file has by calling 'head()' function.
It returns first n rows, and it's useful to see the dataset at a quick glance.

By default, the head() function returns the first 5 rows.

You can specify the number of rows to display by calling `df.head(number)`

In [ ]:
# INSERT CODE HERE

### ```tail()```

The ```tail()``` method prints the last 5 rows of our dataset.

In [ ]:
# INSERT CODE HERE

### ```info()```
This will return all of the column names and its types. This function is useful to get the idea of what the dataframe is like.

In [ ]:
## INSERT CODE HERE

### Observations:

#### Questions:
- List down the number of unique ```Dtype``` in this dataset
- Is the dataset uneven? If so list down the column with the most missing rows?

### ```describe()```
describe() is used to view summary statistics of numeric columns. This will help you to have general idea of the dataset.

In [ ]:
trans_atlc_trade._____() # Insert code here

### Observations:

#### Question:
- Why is ```describe``` showing only 3 columns?Is it because of their types e.g(int,float,object)?
- What could be reason for the counts not being the same?
- Are the mean, standard deviation,..., max. important for Voyage ID?

### ```shape```
To see the size of the dataset, we can use shape function, which returns the number of rows and columns in a format of (#rows, #columns)

In [ ]:
trans_atlc_trade.shape

### Observations:

#### Question:
How many **rows** and **columns** are there?
#### Answer:

## Q2. Important Facts About the Dataset

The next thing we want to do is count the number of trips that have been unaccounted for. We'll know this by observing the ```Slaves arrived at 1st port``` This is simple, all we have to do is run two functions:
- The first one will be to check if the column has null values, ```isna()```.
- The second one will be sum the number of null rows in the column, ```sum()```.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/2.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

Unaccounted_trips = trans_atlc_trade['Slaves arrived at 1st port'].____()._____()   # Insert Code Here
print(f'The total number of unaccounted trips is:  {Unaccounted_trips}')


**What about the total of slaves accounted for?** </br>
In the following line of code, we will have to ```sum``` the the total number of slaves in every column.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/2.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

number_of_slaves_accounted = trans_atlc_trade['Slaves arrived at 1st port'].___()    # Insert code here
print(f'The total number of slaves accounted for are: {number_of_slaves_accounted}')

Historical estimates suggest that the total number of slave traded are estimated to be ~12.5 Million. This means that according to this dataset:

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/2.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

possible_unaccounted_slaves = 12500000 - ________________ # INSERT CODE HERE 
possible_unaccounted_slaves

### Visualize Year of Arrival vs Number of Slaves arrived

In [ ]:
fig = plt.figure(figsize = (35,10))

ax1 = fig.add_subplot(1,2,1)
ax2 = fig.add_subplot(1,2,2)

trans_atlc_trade.plot(x = 'Year of arrival at port of disembarkation',
        y = 'Slaves arrived at 1st port',
        kind = 'scatter',
        c = 'Slaves arrived at 1st port',
        title = 'Year of arrival at port of disembarkation vs Slaves arrived at 1st port',
        alpha = 0.3,
        cmap = plt.get_cmap('ocean'),
        colorbar = True,
        ax = ax1,
       )


trans_atlc_trade.plot(x = 'Year of arrival at port of disembarkation',
        y = 'Slaves arrived at 1st port',
        kind = 'area',
        title = 'Year of arrival at port of disembarkation vs Slaves arrived at 1st port',
        ax = ax2,
       )

### Questions/Observations
- Are the plots above useful? 
- Can we get anything specific by observing them?
- Is there a visible trend?
- What are the possible issues with the plot above? 
- Lastly, which one is more practical, the ```scatter``` or ```area```?

# Part 2 - Getting Started with Data Wrangling

Now that we have observed the basic features of our dataset raw, we will began cleaning it. This involves several steps that you will be working through.

### Create a copy of the Original Dataset

In [ ]:
df = trans_atlc_trade.copy(deep = True) # We have used deep = True to make sure the copy is not linked to the trans_atlc_trade dataframe.
                                        # If we did not add it, any changes made to the new df would be made on the tran_atlc_trade too.

## Q3. Column List

List down the names of all the columns in our dataframe

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/3.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


df._______ # Insert Code Here

## Q4. Change column names

For this exercise, you will change the names of the previously existing columns to something that is more readable. 


Using the columns above write down the name of the column in place of ```COLUMN_NAME_HERE```.


The last column name will be tricky to change, this is because it has a ```'``` here. In order to change that right before the ```'``` add a ```\```.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/4.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

df = df.rename(
    columns={'COLUMN_NAME_HERE':'voyage_id',        # Insert Column Name you want to change
             'COLUMN_NAME_HERE':'vessel_name',      # Insert Column Name you want to change
             'COLUMN_NAME_HERE':'voyage_started',   # Insert Column Name you want to change
             'COLUMN_NAME_HERE':'voyage_pit_stop',  # Insert Column Name you want to change
             'COLUMN_NAME_HERE':'end_port',         # Insert Column Name you want to change
             'COLUMN_NAME_HERE':'year_of_arrival',  # Insert Column Name you want to change
             'COLUMN_NAME_HERE':'slaves_onboard',   # Insert Column Name you want to change
             'COLUMN_NAME_HERE':'captain_names'     # Insert Column Name you want to change
            })


df

## Q5 Moving Column Positions - ```df.reindex()```

When we're looking at the renamed database, for our purposes, we don't want to work with the ```captain_names```. Next, we will use ```df.reindex()``` to change the order of our columns.

You can see below a list below which has the ```column_names``` in the order we want and is without ```captains_name```.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/5.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.



column_names = ['voyage_id',"year_of_arrival","vessel_name", "voyage_started","voyage_pit_stop", "end_port","slaves_onboard"]

df = df._____(columns=________) # Insert Code here

df

**Is Voyage ID a good index and do we need it as a column?**

No, But we need an index.

**Can 'year_of_arrival' be an Index?**

No, because there are repeating dates in the charts, there for we need a simple log counter.

## Q6. Remove Voyage ID -```df.drop()```

Now that we have a new index from 0 to 15299.

Do we need ```voyage_id```. I don't think so, because it doesn't help us find anything useful. Every Voyage ID is unique.

Next, drop this columnn

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/6.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

df = __.drop(columns='_____')  # INSERT CODE HERE
df

### Using ```dropna()```

For this data set, we will be working with trips that were completely accounted for in all of the remaining features.

The ```dropna()``` method is designed top drop every value in our dataframe whos cell might have a null or undefined value. They are usually shown as ```NaN```

In [ ]:
df = df.dropna()
df

In [ ]:
df.info()

### Questions/Observations
How many rows are we left with?

## Q7. Sorting Column using ```year_of_arrival``` using - ```df.sort_values()```

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/7.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


df = df.sort_values(by='_______', ascending=_____) # INSERT CODE HERE
df

## Q8. Reseting the Index

Reseting Index using ```df.reset_index``` with respect 'year_of_arrival' in Ascending Order.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/8.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

df.______(inplace=True, drop=True) # INSERT CODE HERE
df

### Finding Unique and similar strings 

First, we will list down all the unique names in these columns. Next, we will sort these in alphabetical order in order to make it easier to observe.

```df['column_name].unique()``` and ```df.sort()```

for simplicity i have just declared the first line as a variable ```a``` in order to print it

In [ ]:
a = df['voyage_started'].unique()
a.sort()
a

In [ ]:
a = df['voyage_pit_stop'].unique()
a.sort()
a

In [ ]:
a = df['end_port'].unique()
a.sort()
a

As we can see above our object columns, ```voytage_started```, ```voyage_pit_stop``` and ```end_port``` have phrases such as ```., port unspecified```, ```,unspecified```. We need to clean these out.

## Q9. Working with Strings - ```df['column_name'].str.replace()```

To replace unwanted parts of a string, we use the function ```df['columun_name'].str.replace('string to find','string to replace')```. This command looks for the string we have specified and replaces with what we want.

For example:
If have an entry in the 'voyage_started' column, 'Virginia, port unspecified'. By running the command:
```df['voyage_started'].str.replace(', port unspecified', '')```
The string will be changed from ''Virginia, port unspecified' to 'Virginia'.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/9.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


df['voyage_started'] = df['voyage_started'].str.replace('', '')
df['voyage_started'] = df['voyage_started'].str.replace('', '')
df['voyage_started'] = df['voyage_started'].str.replace('', '')

df['voyage_pit_stop'] = df['voyage_pit_stop'].str.replace('', '')
df['voyage_pit_stop'] = df['voyage_pit_stop'].str.replace('', '')
df['voyage_pit_stop'] = df['voyage_pit_stop'].str.replace('.', '')

df['end_port'] = df['end_port'].str.replace('', '')
df['end_port'] = df['end_port'].str.replace('', '')
df['end_port'] = df['end_port'].str.replace('.', '')
df['end_port'] = df['end_port'].str.replace('', '')
df['end_port'] = df['end_port'].str.replace('', '')
df['end_port'] = df['end_port'].str.replace('', '')
df['end_port'] = df['end_port'].str.replace(', south coast', '')                  # Insert string to replace
df['end_port'] = df['end_port'].str.replace(', west coast', '') 
df

In [ ]:
df.dtypes

#### Creating a Copy of our modified Dataset

In [ ]:
modified_dataset = df.copy(deep = True)

# Part 3 - Micro Wrangling and Visualization

<p align="center">
<img src="https://scx2.b-cdn.net/gfx/news/hires/2017/590c5b1f40cbd.gif" width="800">
</p>

We will Start this part by dividing our dataset into multiple smaller dataframes. The approach we will be taking is separating dataframes based on the ```year_of_arrival``` dataset.

For example, in the blocks below you will see code for 4 intervals:
- ```1500 to 1600```
- ```1601 to 1700```
- ```1701 to 1800```
- ```1801 to 1900```


To help you understand the procedure we have worked through ```1500 to 1600``` . You will be required to do the same for the next 2 periods. The last one i.e. 1801 to 1900 is optional and we hope you will attempt it as a significant chunk of the voyages (specially the number of slaves transported) occured in the early 19th century.

# Between 1500 to 1600

## Create a new dataframe for the given date range.

Here we are creating a new dataframe from the copy of our dataset ```modified_dataset``` from step 2. we are using the range ```1500``` and ```1600``` from the dataset

In [ ]:
dataset_between15_16 = modified_dataset.where((modified_dataset['year_of_arrival'] >= 1500) & (modified_dataset['year_of_arrival'] <= 1600))
dataset_between15_16

## Dropping the Null values

If you notice the column above, we can only see ```NaN``` values. This is because when we made a new dataframe. We haven't changed the shape of the dataset at all. Infact, we have only made the rows between our defined ranges ```True```. The rest of them have been converted into empty calls. Therefore the next step will be to drop them.

You can simply do that by running the line below. Another way to simply do this is by ```dataset_between15_16.dropna(inplace = True)```

In [ ]:
dataset_between15_16 = dataset_between15_16.dropna()
dataset_between15_16

## Total Number of Slaves Transported between 1501-1600 - Complete Records

Lets check the number of slaves transported between 1501-1600.

*Please remember we are looking at rows that donot have any empty cells. Look back to this [part](https://colab.research.google.com/github/bitprj/DigitalHistory/blob/master/Week5-Lab-Visualizing-the-Translatlantic-Slave-Trade/Lab-Visualize-Trans-Atlantic-Slave-Trade.ipynb#scrollTo=d_Ds03fRHleS). We dropped a significant amount of rows over there because we they had atleast 1 or more ```NaN``` values.

In [ ]:
dataset_between15_16.slaves_onboard.sum()

## Visualizing Trips During 1501-1601

Lets quickly visuallize our data. We will plot 4 plots 2 bar and 2 scatter. All of them will use the columns ```year_of_arrrival``` or ```slaves_onboard```. The twist is that in two we will switch the x and y columns.

In [ ]:
fig = plt.figure(figsize = (20,10))

ax1 = fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
ax4 = fig.add_subplot(2,2,4)


ax1.scatter(dataset_between15_16['year_of_arrival'],
            dataset_between15_16['slaves_onboard'],
            alpha = 0.4)

ax2.scatter(dataset_between15_16['slaves_onboard'],
            dataset_between15_16['year_of_arrival'],
            alpha = 0.4)

ax3.bar(
    dataset_between15_16['year_of_arrival'],
    dataset_between15_16['slaves_onboard'],
    alpha = 0.4)

ax4.set_ylim(1500,1600)
ax4.bar(
    dataset_between15_16['slaves_onboard'],    
    dataset_between15_16['year_of_arrival'],
    alpha = 0.4)

##  3.1 Choosing Graphs

### Questions/Observations
- Which of these graphs seem useful and which ones are unnecessary?
**Write a 2 sentence explanation about why these two plots seem or might be useful.** **Did the visualization style influence your decision?**
Select the two graphs you think are more useful and add the following:
- Add ```title``` for both subplots.
- Add ```xlabel``` and ```ylabel```.
- Change the color for one of the plots

## Plot the ```vessel_name``` vs the ```slaves_onboard```.


Next, we'll use the ```pandas``` ```plot``` function and use the columns ```vessel_name``` as ```x``` and ```slaves_onboard``` as ```y```.

Remember, ```vessel_name``` is a categorical value so we're plotting a bar chart of categorical vs numerical here.

In [ ]:
dataset_between15_16.plot(x= 'vessel_name',
                          y = 'slaves_onboard',
                          kind = 'bar',
                          rot = 90)

## Plotting voyages carrying Less than 100 slaves per trip

The plot above is crowded since there are alot of ships that were used throughout the 16th century. Our next step will be to simplify the plotting a little bit and to actually be able to visualize the plots properly.

Below we create a new variable for our plot and we name it ```temp_df```.
*You can name it anything you want.*

We first make a dataframe that only contains rows where the number of slaves onboard were less than 100.

In [ ]:
temp_df = dataset_between15_16.where(dataset_between15_16['slaves_onboard'] < 100.0).dropna()

temp_df

In [ ]:
temp_df.plot(x='vessel_name',
            y = 'slaves_onboard',
             kind = 'bar',
            rot = 90)

## Plotting voyages carrying greater than 100 slaves per trip

Next we check for ships where the number of slaves carried was greater than 100.

Notice we added a ```dropna``` at the end. This is the same as the step we take to drop the null values from our dataframes but instead of writing it as a new line we have simply attactched at to our ```dataset_between15_16.where```

In [ ]:
temp_df = dataset_between15_16.where(dataset_between15_16['slaves_onboard'] > 100.0).dropna()

temp_df.plot(x='vessel_name',
               y = 'slaves_onboard',
               kind = 'bar',
               rot = 90,
               grid = True,
               figsize = (20,10)
               )

As we can see above it is still a little congested. Therefore we'll narrow down our search a little more.

As you can see plotting using random numbers might not give us the best results.

One thing we can do is select our values based on the ```mean```,```standard deviation```,```25%```,```50%```,```75%```

So lets check those values for our current dataframe which is ```dataset_between15_16```

In [ ]:
dataset_between15_16.describe()

We can see the values above, for this project we will be looking at the ```75%``` value for the ```slaves_onboard``` column.

Therefore:

In [ ]:
num_of_slaves_3q = 202 # 3q means third quartile. The value is 201.5 but we are rounding up

## Plotting voyages with respect to ```num_of_slaves_3q```

In [ ]:
temp_df = dataset_between15_16.where(dataset_between15_16['slaves_onboard'] >num_of_slaves_3q).dropna()

print(f'There are {temp_df.shape[0]} trips that carries more than {num_of_slaves_3q} slaves.')

The second line written above is simply an ```f-string```. These are not important but are still useful when printing statements and let us print variables inside a string.

In [ ]:
temp_df.plot(x= 'vessel_name',
               y = 'slaves_onboard',
               kind = 'bar',
               rot = 90,                   # Adjusted accordingly, you can do the same
               grid = True,                # Adjusted accordingly, you can do the same
               figsize = (20,10)           # Adjusted accordingly, you can do the same
               )

## Plotting the most used ```start_port```

In [ ]:
temp_df['voyage_started'].hist(bins = 20,                    # Adjusted accordingly, you can do the same 
                                 alpha = 0.5,                # Adjusted accordingly, you can do the same
                                 xrot = 45,                  # Adjusted accordingly, you can do the same
                                 figsize = (10,10)           # Adjusted accordingly, you can do the same
                                )

## Histogram - Check the most used ```voyage_pit_stop```

In [ ]:
temp_df['voyage_pit_stop'].hist(bins=10,              # Adjusted accordingly, you can do the same
                                  alpha=0.7,          # Adjusted accordingly, you can do the same
                                  xrot = 0,           # Adjusted accordingly, you can do the same
                                  figsize = (10,10)   # Adjusted accordingly, you can do the same
                                  )

## Histogram - Check the most used ```End_Port```

In [ ]:
temp_df['end_port'].hist(bins=10,                     # Adjusted accordingly, you can do the same
                           alpha=0.7,                 # Adjusted accordingly, you can do the same
                           xrot = 0,                  # Adjusted accordingly, you can do the same
                          figsize = (10,10)           # Adjusted accordingly, you can do the same
                          )

### Questions/Observations

- Where were most of the trips made? 
- Where did they start from.
- Any other important observations?

# Between 1601 - 1700

## Q10. Create a new dataframe for the given date range.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/10.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

dataset_between16_17 = modified_dataset.____ #INSERT CODE HERE

dataset_between16_17

## Q11. Drop null values

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/11.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

dataset_between16_17 = dataset_between16_17._____() # Insert Code here (drop nul values)
dataset_between16_17

## Q12. Total Number of Slaves Transported between 1601-1700 - Complete Records

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/12.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

dataset_between16_17.slaves_onboard.___() # Insert Code Here - Sum of slaves

## Q13. Visualizing Trips During 1601-1701

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/13.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

fig = # INSERT CODE HERE

ax1 = # INSERT CODE HERE
ax2 = # INSERT CODE HERE

ax1.scatter(# INSERT CODE HERE
            # INSERT CODE HERE
            # INSERT CODE HERE
            )

ax2.bar(
    # INSERT CODE HERE
    # INSERT CODE HERE
    # INSERT CODE HERE
    )

## Q14. Plot the ```vessel_name``` vs the ```slaves_onboard```.
Next, we'll use the ```pandas``` ```plot``` function and use the columns ```vessel_name``` as ```x``` and ```slaves_onboard``` as ```y```.

Remember, ```vessel_name``` is a categorical value so we're plotting a bar chart of categorical vs numerical here.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/14.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

fig = plt.figure(figsize = (50,20))
ax1 = fig.add_subplot(2,2,1)

dataset_between16_17.plot(# INSERT CODE HERE
                          # INSERT CODE HERE
                          # INSERT CODE HERE
                          # INSERT CODE HERE
                          # INSERT CODE HERE
                          )

Note: The graph above will be more congested compared to the ```1500-1601``` plot. This is because the number of trips are more 

As you can see plotting using random numbers might not give us the best results.

One thing we can do is select our values based on the ```mean```,```standard deviation```,```25%```,```50%```,```75%```

So lets check those values for our current dataframe which is ```dataset_between16_17```

In [ ]:
dataset_between16_17.describe()

## Q15. Plotting voyages with respect to ```num_of_slaves_3q```

We can see the values above, for this project we will be looking at the ```75%``` value for the ```slaves_onboard``` column.

Therefore:

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/15.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

slaves_onboard_3q = ### INSERT VALUE

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/15.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


temp_df = ## 

print(f'There are {temp_df.shape[0]} trips that carries more than {slaves_onboard_3q} slaves.')

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/15.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


temp_df.plot(# INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
               rot = 90,                   # Adjusted accordingly, you can do the same
               grid = True,                # Adjusted accordingly, you can do the same
               figsize = (20,10)           # Adjusted accordingly, you can do the same
               )

## Q16. Plotting the most used ```start_port```

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/16.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


# INSERT CODE HERE

## Q17. Plotting the most used ```voyage_pit_stop```

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/17.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


# INSERT CODE HERE

## Q18. Plotting the most used ```End_Port```

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/18.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


# INSERT CODE HERE

# Between 1701 - 1800

## Q19. Create a new dataframe for the given date range.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/19.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

dataset_between17_18 = # INSERT CODE HERE

# INSERT CODE HERE

## Q20. Drop null values

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/20.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


# INSERT CODE HERE

# INSERT CODE HERE

## Q21. Total Number of Slaves Transported between 1701-1800 - Complete Records.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/21.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT CODE HERE

## Q22. Visualizing Trips During 1701-1800

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/22.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

fig = # INSERT CODE HERE

ax1 = # INSERT CODE HERE
ax2 = f# INSERT CODE HERE

ax1.scatter(# INSERT CODE HERE
            # INSERT CODE HERE
            # INSERT CODE HERE
            )

ax2.bar(
    # INSERT CODE HERE
    # INSERT CODE HERE
    # INSERT CODE HERE
    )

## Q23. Plot the ```vessel_name``` vs the ```slaves_onboard```.

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/23.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

Note: The graph above will also be more congested compared to the ```1500-1600``` and ```1601-1700``` plot. This is because the number of trips are more the previous century.

As you can see plotting using random numbers might not give us the best results.

One thing we can do is select our values based on the ```mean```,```standard deviation```,```25%```,```50%```,```75%```

So lets check those values for our current dataframe which is ```dataset_between17_18```

In [ ]:
dataset_between17_18.describe()

## Q24. Plotting voyages with respect to ```num_of_slaves_3q```

We can see the values above, for this project we will be looking at the ```75%``` value for the ```slaves_onboard``` column.

Therefore:

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/24.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

slaves_onboard_3q = ### INSERT VALUE

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/24.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


temp_df = ## 

print(f'There are {temp_df.shape[0]} trips that carries more than {slaves_onboard_3q} slaves.')

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/24.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


temp_df.plot(# INSERT CODE HERE
             # INSERT CODE HERE
             # INSERT CODE HERE
               rot = 90,                   # Adjusted accordingly, you can do the same
               grid = True,                # Adjusted accordingly, you can do the same
               figsize = (20,10)           # Adjusted accordingly, you can do the same
               )

## Q25. Plotting the most used ```start_port```

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/25.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.

# INSERT CODE HERE

## Q26. Plotting the most used ```voyage_pit_stop```

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/26.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


# INSERT CODE HERE

## Q27. Plotting the most used ```End_Port```

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/27.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.



# INSERT CODE HERE

# Extra
# Between 1801 - 1900

# Conclusion

For this you will write a summary of what steps you followed throughout this notebook, why they were important and your findings.
For example:
- The findings you observed when working through the 4 centuries of slave trade voyages.
- Are our findings reliable or do we need further research?
- Was ```vessel_name``` useful?
- What could we have found if we kept the captains name column?
- What else could we find with this dataset?
- What are our limitations?


You can also add your answers to the questions posted throughout the notebook here.


## Submission
Run this code block to download your answers.

In [ ]:
from google.colab import files
!zip -r "{student_id}.zip" "{student_id}"
files.download(f"{student_id}.zip")

# Appendix

## Connecting to Your Google Drive

In [ ]:
# Start by connecting google drive into google colab

from google.colab import drive

drive.mount('/content/gdrive')

In [ ]:
!ls "/content/gdrive/My Drive/DigitalHistory"

In [ ]:
cd "/content/gdrive/My Drive/DigitalHistory/tmp/trans-atlantic-slave-trade"

In [ ]:
ls

In [ ]:
### Extracting ZipFiles

In [ ]:

import zipfile

In [ ]:
file_location = 'data/trans-atlantic-slave-trade.csv.zip'

zip_ref = zipfile.ZipFile(file_location,'r')
zip_ref.extractall('data/tmp/trans-atlantic-slave-trade')
zip_ref.close()

### Checking and Changing Column Types 
```df.dtypes``` and ```df.astype()```

In [ ]:
df.dtypes

In [ ]:
df.year_of_arrival.astype(int)

In [ ]:
df.dtypes

In [ ]:
df.year_of_arrival = df.year_of_arrival.astype(int)

In [ ]:
df.dtypes

**Extra**:
```df.slaves_onboard = df.slaves_onboard.astype(int)```

In [ ]:
df.slaves_onboard = df.slaves_onboard.astype(int)

In [ ]:
df.dtypes

In [ ]:
df

### GeoTagging Locations

In [ ]:
!pip install geopandas

In [ ]:
!pip install googlemaps

In [ ]:
from googlemaps import Client as GoogleMaps
import pandas as pd

In [ ]:
gmaps = GoogleMaps('')# ENTER KEY

In [ ]:
df

In [ ]:
addresses = df.filter(['Voyage itinerary imputed port where began (ptdepimp) place'], axis=1)
addresses.head()

In [ ]:
addresses['long'] = ""
addresses['lat'] = ""

In [ ]:
addresses